     address { font-family: segoe ui semilight,sans-serif;  }
     .BannerBase { font-size: 12pt ; font-weight: bold; margin: 0pt  0pt  1px  0pt ; font-family: segoe ui semilight,sans-serif;}
     .Base { font-size: 10pt ; margin: 0pt  0pt  1px  0pt ; font-family: segoe ui semilight,sans-serif;  }
     body { font-family: segoe ui semilight,sans-serif;  }
     bq { font-family: segoe ui semilight,sans-serif;  }
     .Bullet1 { font-size: 10pt ; margin: 0pt  0pt  1px  0pt; font-family: segoe ui semilight,sans-serif;  }
     .Bullet2 { font-size: 10pt ; margin: 0pt  0pt  1px  27pt ; text-indent: -27pt ; font-family: segoe ui semilight,sans-serif;  }
     .Bullet3 { font-size: 10pt ; margin: 0pt  0pt  1px  27pt ; text-indent: -27pt ; font-family: segoe ui semilight,sans-serif;  }
     .Bullet4 { font-size: 10pt ; margin: 0pt  0pt  1px  0pt; font-family: segoe ui semilight,sans-serif;  }
     .Bullet5 { font-size: 10pt ; margin: 0pt  0pt  1px  0pt; font-family: segoe ui semilight,sans-serif;  }
     .ButtonBar { font-size: 6pt ; font-weight: bold; margin: 0pt  0pt  1px  -0.1in ; font-family: segoe ui semilight,sans-serif;}
     code { font-family: Courier New,sans-serif;  fhtype: character; }
     .code1 { font-size: 10pt ; font-family: Courier New,sans-serif;}
     h4 { margin: 0pt  0pt  1px  0pt ; font-family: segoe ui semilight,sans-serif;}
     dd { font-family: segoe ui semilight,sans-serif;  }
     dir { font-family: segoe ui semilight,sans-serif;  }
     dir li { font-family: segoe ui semilight,sans-serif;}
     dl { font-family: segoe ui semilight,sans-serif;  }
     dt { font-family: segoe ui semilight,sans-serif;  }
     h1 { font-family: segoe ui semilight,sans-serif;  }
     h2 { font-family: segoe ui semilight,sans-serif;  }
     h3 { font-family: segoe ui semilight,sans-serif;  }
     h4 { font-family: segoe ui semilight,sans-serif;  }
     h5 { margin: 0pt  0pt  6pt  27pt ; font-family: segoe ui semilight,sans-serif;  }
     h6 { font-size: 10pt ; margin: 0pt  0pt  1px  0.7493in ; font-family: segoe ui semilight,sans-serif;  }
     .htmlbase { font-size: 12pt ; margin: 0pt  0pt  1px  0pt ; font-family: segoe ui semilight,sans-serif;  }
     .Indent1 { font-size: 10pt ; margin: 0pt  0pt  1px  27pt ; font-family: segoe ui semilight,sans-serif;  }
     h6 { font-size: 10pt ; font-weight: normal; margin: 0pt  0pt  1px  0.7493in ; font-family: segoe ui semilight,sans-serif;}
     kbd { font-family: Courier New,sans-serif;}
     listing { font-family: Courier New,sans-serif;  }
     menu { font-family: segoe ui semilight,sans-serif;  }
     menu li { font-family: segoe ui semilight,sans-serif;}
     .Normal { font-size: 12pt ; margin: 5pt  0pt  5pt  0pt ; font-family: segoe ui semilight,sans-serif;  }
     .Number1 { font-size: 10pt ; margin: 0pt  0pt  1px  0pt; font-family: segoe ui semilight,sans-serif;  }
     .Number2 { font-size: 10pt ; margin: 0pt  0pt  1px  0pt; font-family: segoe ui semilight,sans-serif;  }
     .Number3 { font-size: 10pt ; margin: 0pt  0pt  1px  0pt; font-family: segoe ui semilight,sans-serif;  }
     .Number4 { font-size: 10pt ; margin: 0pt  0pt  1px  0pt; font-family: segoe ui semilight,sans-serif;  }
     .Number5 { font-size: 10pt ; margin: 0pt  0pt  1px  0pt; font-family: segoe ui semilight,sans-serif;  }
     ol { font-family: segoe ui semilight,sans-serif; }
     ol li { font-family: segoe ui semilight,sans-serif; }
     p { font-family: segoe ui semilight,sans-serif;  }
     pre { font-family: Courier New,sans-serif;  }
     tt { font-family: Courier New,sans-serif;}
     ul { font-family: segoe ui semilight,sans-serif;  }
     ul li { font-family: segoe ui semilight,sans-serif;}
     xmp { font-family: Courier New,sans-serif;  }
